*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}
p
{
	font-weight: 300;
	color: #111;
}
.banner 
{
	position: relative;
	width: 100%;
	min-height: 100vh;
	display:flex;
	justify-content: center;
	align-items: center;
	background: url(https://i.pinimg.com/236x/06/4c/18/064c18961073f223219077762c80b5bb.jpg);	
	background-size: cover;
}
.banner .content
{
	max-width: 900px;
	text-align: center;
}
.banner .content h2
{
	font-size: 5em;
	font-family: pangolin;
	color: #fff;
}
.banner .content p
{
	font-size: 1em;
	font-family: Kirang Haerang;
	color: #fff;
}
.btn
{
	font-size: 1em;
	color: #fff;
	background: #ff0157;
	display: inline-block;
	padding: 10px 30px;
	margin-top: 20px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.5s;
}
.btn:hover
{
	letter-spacing: 6px;
}
header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
}
header.sticky
{
	background: #fff;
	padding: 10px 100px; 
	box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
header .logo
{
	color: #fff;
	font-weight: 700;
	font-size: 2em;
	text-decoration: none;
}
header.sticky .logo
{
 color: #111;
}
header .navigation
{
	position: relative;
	display: flex;
}
header .navigation li 
{
	list-style: none;
	margin-left: 30px;
}
header .navigation li a
{
	text-decoration:none ;
	color: #fff;
	font-weight: 300;
}

header.sticky .navigation li a 
{
	color: #111;
}
header .navigation li a:hover
{
	color: #ff0157;
}
section
{
 padding: 100px; 
}
.row
{
	font-style: inconsolata;
	position: relative;
	width: 100%;
	height: 200vh;
	display: flex;
	justify-content: space-between;
}
.row .col50
{
	position: relative;
	width: 48%;
}

.paragraph
{
	font-family: 'Modak', cursive;
	font-size: 25px;
	color: #000000;
}
.heading1
{
	font-family: 'Modak', cursive;
	font-size: 25px;
	width: 100%;
}
.heading2
{
	font-family: 'Modak', cursive;
	font-size: 25px;
	width: 100%;
}	
.titleText
{
 color: #ff0157;
 font-style: italic;
 font-family: lucida handwriting;
 font-size: 2em;
 font-weight: 310;
}
.titleText p
{
	color: #ff0157;
	font-family: Inconsolata;
	font-weight: 700;
	font-size: 1.5em;
}
.row .col50 .imgBx
{
	position: relative;
	width: 100%;
    /*min-height: 300px; */
    height: 100%;
}
.row .col50 .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%; 
	object-fit: cover;
}

.title
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.aralin2
{
 background: url(https://i.pinimg.com/236x/06/4c/18/064c18961073f223219077762c80b5bb.jpg);
 background-size: cover;
}
.aralin2
{
	height: 230vh;
}
.aralin2 .heading2 
{
	text-align: center;
	font-family: castellar;
	color: #ff0157;
	background: #aef359;
	border-radius: 4px;
	box-shadow: 0 5px 15px rgba(0,0,0,0.5);
	display: flex;
}
.titleText
{
	color: #ff0157;
}
.white p
{
	color: #fff;
}
.aralin2 .content
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 40px;
}
.aralin2 .content .box
{
	width: 340px;
	margin: 20px;
	padding: 40px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.aralin2 .content .box .imgBx /* IF GUSTO MO ALISIN GO!! */
{
	position: relative;
	width: 80px;
	height: 80px;
	margin-bottom: 20px;
	border-radius: 50%;
	overflow: hidden;
}   
.aralin2 .content .box .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.aralin2 .content .box .text
{
	text-align: center;
	justify-content: center;
	float: right;
}
.aralin2 .content .box .text p
{
	color: #111;
	font-style: italic;
	justify-content: center;
}
.aralin2 .content .box .text h3
{
	margin-top: 20px;
	color: #111;
	font-size: 1em;
	color: #ff0157;
	font-weight: 600;
}
.aralin2 .text1 p
{
  font-style: italic;
  font-size: 20px;
  color: #111;
}
.aralin3
{
 background: url(https://images.unsplash.com/photo-1528731708534-816fe59f90cb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bWluaW1hbCUyMHdoaXRlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80.jpg);
 background-size: cover;
}
.aralin3
{
	height: 240vh;
}
.aralin3 .content
{
	margin: 50px auto;
	width: 50%;
	padding: 8px;
}
.aralin3 .content img
{
	justify-content: center;
	width: 450px;
	height: 260px;
	padding: 0 10px 0 0;
}
.aralin3 .content .text
{
	text-align: justify;
	font-family: verdana;
	text-align: left;
}

/*.aralin3 .content .text
{
	position: left;
	font-size: 50x;
}
.aralin3 .content .box .text
{
	padding: 15px 0 5px;
}
.aralin4 .content .box .text h3
{
	font-weight: 400;
	color: #666;
} */
.aralin4
{
 background: url(https://cdn.nohat.cc/thumb/f/720/4971443907461120.jpg);
 background-size: cover;
}
.white .titleText
{
color: #fff;
}
.aralin4
{
	height: 365vh;
}
.aralin4 .titleText h2
{
	text-align: center;
	color: #000;
}
.aralin4 .content
{
display: flex;
justify-content: center;
flex-wrap: wrap;
flex-direction: row;
margin-top: 40px;
}
.aralin4 .content .box
{
width: 320px;
margin: 20px;
padding: 30px;
border: 15px solid #fff;
box-shadow: 0 5px 35px rgba(0,0,0,0.8);
background: #e7decc;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.aralin4 .content .box .imgBx /* IF GUSTO MO ALISIN GO!! */
{
position: relative;
width: 80px;
height: 80px;
}   
.aralin4 .content .box .imgBx img
{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}
.aralin4 .content .box .text
{
text-align: center;
}
.aralin4 .content .box .text p
{
color: #666;
font-style: italic;
font-family: cornflower;
}
.aralin4 .content .box .text h3
{
margin-top: 20px;
color: #111;
font-size: 1em;
color: #ff0157;
font-weight: 600;
}
.aralin5
{
	background: url(https://images.unsplash.com/photo-1528731708534-816fe59f90cb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bWluaW1hbCUyMHdoaXRlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80.jpg);
  background-size: cover;
}
.aralin5
{
	height: 270vh;
}
.aralin5 h1
{
  font-family: cooper black;
}
.aralin5 h2
{
	font-family: lucida handwriting;
	text-align: center;
}
.aralin5 h3
{
	font-family: yatra one;
	text-align: center;
}

table 
{
	width: 450px; 	
 /* border-spacing: 40px; */
}	
table, tr
{
	text-align: center;
}
table, td
{
  border: 1px solid #000;
  border-collapse: collapse;

}
td 
{
	padding: 10px;
}
tr:nth-child(even)
{
	background-color: #cfc5bd;
}
tr:nth-child(odd)
{
	background-color: #e9e1cc;
}
.topic5 .text p
{
	text-align: center;
	font-family: rockwell;
	color: #006090;
	background: #f6dafe;
	border-radius: 4px;
	box-shadow: 0 5px 15px rgba(0,0,0,0.5);
	display: flex;
}
.topic5 .container
{
	max-width: 1400px;
	margin: auto;
	background: #f2f2f2;
	overflow: auto;
}
.topic5 .gallery
{
	margin: 7px;
	border: 3px solid #ccc;
	float: left;
	width: 400px;
}
.topic5 .gallery img
{
	width: 100%;
	height: auto;
}
.topic5 .desc
{
	padding: 15px;
	text-align: center;
}


@media (max-width: 991px)
{
  header,
  header.sticky
   {
    padding: 10px 20px;
   }
   header .navigation   
   {
   	display: none;
   }     
   header .navigation.active
   {
   	width: 100;
   	height: 100%;
   	position: fixed;
   	top: 0;
   	leff: 0;
   	display: flex;
   	justify-content: center;
   	align-items: center;
   	flex-direction: column;
   	background: #fff;
   }
   header .navigation li 
   {
   	margin-left: 0;
   }
   header .navigation li a 
   {
   	color: #111;
   	font-size: 1.6em;
   }
   .menuToggle
    {
	  position: relative;
	  width: 40px;
	  height: 40px;
	  background: url(menu.png);
	  background-size: 30px;
	  background-repeat: no-repeat;
	  background-position: center;
	  cursor: pointer ;
    }
    .menuToggle.active
    {
      background: url(close.png);
	  background-size: 25px;
	  background-repeat: no-repeat;
	  background-position: center;	
    }
    header.sticky .menuToggle
    {
    	filter: invert(1);
    }
}